* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f3c6c6;
    color: #333333;
}

.hidden {
    display: none !important;
}

.app-header, .print-header {
    background-color:#e00000 ;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.back-btn {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
}

.header-title {
    font-size: 18px;
    font-weight: bold;
    flex-grow: 1;
}

.print-icon-btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    flex-grow: 1;
    text-align: right;
}

.form-container {
    padding: 15px;
}

.input-group {
    background: white;
    border: 1px solid #cccccc;
    border-radius: 8px;
    padding: 8px 12px;
    margin-bottom: 12px;
    position: relative;
}

.input-label {
    font-size: 11px;
    color: #777777;
    display: block;
    margin-bottom: 2px;
}

.input-group input, .input-group select {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    background: transparent;
    color: #111111;
}

.form-row {
    display: flex;
    gap: 10px;
}

.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }

.full-width { width: 100%; }

.font-bold { font-weight: bold; }

.side-info {
    font-size: 14px;
    color: #666666;
    padding-bottom: 12px;
}

.kembalian-text {
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

.divider {
    border: 0;
    border-top: 1px solid #dddddd;
    margin: 15px 0;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border: none;
    margin-bottom: 12px;
    text-align: center;
}


.btn-submit {
    background-color: #de5454;
    color: white;
}

.struk-logo {
    width: auto;
    max-width: 150px;
    height: auto;
    margin: 0 auto 4px auto;
    display: block;
}

.struk-paper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'PT Mono', monospace;
    font-size: 20px;
    font-weight: 1000;
    color: #000000;
    line-height: 1.50;
    background-color: #ffffff;
}

.struk-row-split {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    width: 100%;
}

.struk-row-split > span:first-child,
.struk-row-split > div:first-child {
    width: 160px;
    display: inline-block;
    flex-shrink: 0;
    text-align: left;
}

.struk-row-split > span:last-child {
    flex: 1;
    text-align: left;
}

.struk-row-split:has(#out-cash), 
.struk-row-split:has(#out-change) {
    justify-content: space-between; 
}

.struk-row-split-2 {
    display: grid;
    grid-template-columns: 1fr 10px 120px; 
    gap: 5px;
    align-items: center;
    margin-bottom: 2px;
}

.struk-row-split-2 .titik-dua {
    text-align: center;
}

.struk-row-split-2 .nilai-kanan {
    text-align: right;
    padding-right: 45px; 
}

.struk-line {
    text-align: center;
    margin: 3px 0;
    letter-spacing: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.pmx-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2px;
}

.pmx-row span:first-child {
    display: inline-block;
    width: 165px; 
}

.pmx-row-cash {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    width: 100%;
}

.nilai-kanan-cash {
    text-align: right;
    flex: 1;
}
